<!DOCTYPE html>
<html lang="en" dir="auto">

<head><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<title>笔记:vue 中使用 axios 调用数据并渲染 | Bablvsj&#39;s Blog</title>
<meta name="keywords" content="笔记">
<meta name="description" content="示例如下。 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 &lt;template&gt; &lt;div class=&#34;posts&#34;&gt; &lt;div v-for=&#34;item in list&#34; :key=&#34;item.cid&#34; &gt; {{ item.title }} &lt;/div&gt; &lt;/div&gt; &lt;/template&gt; &lt;script&gt; import Axios from &#39;axios&#39;; export default { name: &#39;index&#39;, data">
<meta name="author" content="Lvsj">
<link rel="canonical" href="https://bablvsj.github.io/temp/151/">
<link crossorigin="anonymous" href="/assets/css/stylesheet.0b775796d0645eb6bcd014bcac4997db1b77193dc961874cf66c7fa593f16485.css" integrity="sha256-C3dXltBkXra80BS8rEmX2xt3GT3JYYdM9mx/pZPxZIU=" rel="preload stylesheet" as="style">
<script defer crossorigin="anonymous" src="/assets/js/highlight.acb54fd32bbc1982428b8850317e45d076b95012730a5936667e6bc21777692a.js" integrity="sha256-rLVP0yu8GYJCi4hQMX5F0Ha5UBJzClk2Zn5rwhd3aSo="
    onload="hljs.initHighlightingOnLoad();"></script>
<link rel="icon" href="https://bablvsj.github.io/img/Q.gif">
<link rel="icon" type="image/png" sizes="16x16" href="https://bablvsj.github.io/img/Q.gif">
<link rel="icon" type="image/png" sizes="32x32" href="https://bablvsj.github.io/img/Q.gif">
<link rel="apple-touch-icon" href="https://bablvsj.github.io/Q.gif">
<link rel="mask-icon" href="https://bablvsj.github.io/Q.gif">
<meta name="theme-color" content="#2e2e33">
<meta name="msapplication-TileColor" content="#2e2e33">
<noscript>
    <style>
        #theme-toggle,
        .top-link {
            display: none;
        }

    </style>
    <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --theme: rgb(29, 30, 32);
                --entry: rgb(46, 46, 51);
                --primary: rgb(218, 218, 219);
                --secondary: rgb(155, 156, 157);
                --tertiary: rgb(65, 66, 68);
                --content: rgb(196, 196, 197);
                --hljs-bg: rgb(46, 46, 51);
                --code-bg: rgb(55, 56, 62);
                --border: rgb(51, 51, 51);
            }

            .list {
                background: var(--theme);
            }

            .list:not(.dark)::-webkit-scrollbar-track {
                background: 0 0;
            }

            .list:not(.dark)::-webkit-scrollbar-thumb {
                border-color: var(--theme);
            }
        }

    </style>
</noscript><meta property="og:title" content="笔记:vue 中使用 axios 调用数据并渲染" />
<meta property="og:description" content="示例如下。 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 &lt;template&gt; &lt;div class=&#34;posts&#34;&gt; &lt;div v-for=&#34;item in list&#34; :key=&#34;item.cid&#34; &gt; {{ item.title }} &lt;/div&gt; &lt;/div&gt; &lt;/template&gt; &lt;script&gt; import Axios from &#39;axios&#39;; export default { name: &#39;index&#39;, data" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://bablvsj.github.io/temp/151/" /><meta property="article:section" content="temp" />
<meta property="article:published_time" content="2022-07-12T14:59:00+00:00" />
<meta property="article:modified_time" content="2022-07-12T14:59:00+00:00" />

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="笔记:vue 中使用 axios 调用数据并渲染"/>
<meta name="twitter:description" content="示例如下。 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 &lt;template&gt; &lt;div class=&#34;posts&#34;&gt; &lt;div v-for=&#34;item in list&#34; :key=&#34;item.cid&#34; &gt; {{ item.title }} &lt;/div&gt; &lt;/div&gt; &lt;/template&gt; &lt;script&gt; import Axios from &#39;axios&#39;; export default { name: &#39;index&#39;, data"/>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [, 
    {
      "@type": "ListItem",
      "position":  2 ,
      "name": "Temps",
      "item": "https://bablvsj.github.io/temp/"
    }, 
    {
      "@type": "ListItem",
      "position":  3 ,
      "name": "笔记:vue 中使用 axios 调用数据并渲染",
      "item": "https://bablvsj.github.io/temp/151/"
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "笔记:vue 中使用 axios 调用数据并渲染",
  "name": "笔记:vue 中使用 axios 调用数据并渲染",
  "description": "示例如下。 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 \u0026lt;template\u0026gt; \u0026lt;div class=\u0026#34;posts\u0026#34;\u0026gt; \u0026lt;div v-for=\u0026#34;item in list\u0026#34; :key=\u0026#34;item.cid\u0026#34; \u0026gt; {{ item.title }} \u0026lt;/div\u0026gt; \u0026lt;/div\u0026gt; \u0026lt;/template\u0026gt; \u0026lt;script\u0026gt; import Axios from \u0026#39;axios\u0026#39;; export default { name: \u0026#39;index\u0026#39;, data",
  "keywords": [
    "笔记"
  ],
  "articleBody": "示例如下。\n1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39    class=\"posts\"   v-for=\"item in list\"  :key=\"item.cid\"    {{ item.title }}  /div  /div /template   import Axios from 'axios'; export default {  name: 'index',  data () {  return {  list: []  }  },  methods: {  getData () {  var api = 'https://zburu.com/api/posts.php';  Axios.get(api).then((response) = {  this.list = response.data;  console.log(response.data)  }).catch((error) = {  console.log(error);  })  }  },  mounted () {  this.getData();  }, } /script   /style   ",
  "wordCount" : "110",
  "inLanguage": "en",
  "datePublished": "2022-07-12T14:59:00Z",
  "dateModified": "2022-07-12T14:59:00Z",
  "author":{
    "@type": "Person",
    "name": "Lvsj"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://bablvsj.github.io/temp/151/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Bablvsj's Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://bablvsj.github.io/img/Q.gif"
    }
  }
}
</script>
</head>

<body class="" id="top">
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>

<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="https://bablvsj.github.io" accesskey="h" title="Bablvsj&#39;s Blog (Alt + H)">Bablvsj&#39;s Blog</a>
            <div class="logo-switches">
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
            </div>
        </div>
        <ul id="menu">
            <li>
                <a href="https://bablvsj.github.io/" title="主页">
                    <span>主页</span>
                </a>
            </li>
            <li>
                <a href="https://bablvsj.github.io/archives/" title="时间轴">
                    <span>时间轴</span>
                </a>
            </li>
            <li>
                <a href="https://bablvsj.github.io/categories" title="分类">
                    <span>分类</span>
                </a>
            </li>
            <li>
                <a href="https://bablvsj.github.io/tags" title="标签">
                    <span>标签</span>
                </a>
            </li>
            <li>
                <a href="https://bablvsj.github.io/about" title="关于">
                    <span>关于</span>
                </a>
            </li>
            <li>
                <a href="https://bablvsj.github.io/search" title="🔍 (Alt &#43; /)" accesskey=/>
                    <span>🔍</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="main">

<article class="post-single">
  <header class="post-header">
    
    <h1 class="post-title">
      笔记:vue 中使用 axios 调用数据并渲染
    </h1>
    <div class="post-meta">
      <span title='2022-07-12 14:59:00 +0000 UTC'>2022/07/12</span>&nbsp;·&nbsp;1 min&nbsp;·&nbsp;Lvsj
<ul class="post-tags-meta">
    <a href="https://bablvsj.github.io/tags/%E7%AC%94%E8%AE%B0/">笔记</a>
</ul>



      
    </div>
    
  </header> 

  <div class="post-content"><p>示例如下。</p>
<div class="highlight"><div style="color:#e5e5e5;background-color:#000;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
<table style="border-spacing:0;padding:0;margin:0;border:0;"><tr><td style="vertical-align:top;padding:0;margin:0;border:0;">
<pre tabindex="0" style="color:#e5e5e5;background-color:#000;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 1
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 2
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 3
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 4
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 5
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 6
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 7
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 8
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272"> 9
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">10
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">11
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">12
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">13
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">14
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">15
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">16
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">17
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">18
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">19
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">20
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">21
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">22
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">23
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">24
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">25
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">26
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">27
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">28
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">29
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">30
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">31
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">32
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">33
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">34
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">35
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">36
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">37
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">38
</span><span style="white-space:pre;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#727272">39
</span></code></pre></td>
<td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
<pre tabindex="0" style="color:#e5e5e5;background-color:#000;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-js" data-lang="js"><span style="display:flex;"><span>&lt;template&gt;
</span></span><span style="display:flex;"><span>  &lt;div <span style="color:#fff;font-weight:bold">class</span>=<span style="color:#0ff;font-weight:bold">&#34;posts&#34;</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;div
</span></span><span style="display:flex;"><span>      v-<span style="color:#fff;font-weight:bold">for</span>=<span style="color:#0ff;font-weight:bold">&#34;item in list&#34;</span>
</span></span><span style="display:flex;"><span>      :key=<span style="color:#0ff;font-weight:bold">&#34;item.cid&#34;</span>
</span></span><span style="display:flex;"><span>    &gt;
</span></span><span style="display:flex;"><span>      {{ item.title }}
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f00">/div&gt;</span>
</span></span><span style="display:flex;"><span>  &lt;<span style="color:#f00">/div&gt;</span>
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f00">/template&gt;</span>
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>&lt;script&gt;
</span></span><span style="display:flex;"><span><span style="color:#fff;font-weight:bold">import</span> Axios from <span style="color:#0ff;font-weight:bold">&#39;axios&#39;</span>;
</span></span><span style="display:flex;"><span><span style="color:#fff;font-weight:bold">export</span> <span style="color:#fff;font-weight:bold">default</span> {
</span></span><span style="display:flex;"><span>  name: <span style="color:#0ff;font-weight:bold">&#39;index&#39;</span>,
</span></span><span style="display:flex;"><span>  data () {
</span></span><span style="display:flex;"><span>    <span style="color:#fff;font-weight:bold">return</span> {
</span></span><span style="display:flex;"><span>      list: []
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  methods: {
</span></span><span style="display:flex;"><span>    getData () {
</span></span><span style="display:flex;"><span>      <span style="color:#fff;font-weight:bold">var</span> api = <span style="color:#0ff;font-weight:bold">&#39;https://zburu.com/api/posts.php&#39;</span>;
</span></span><span style="display:flex;"><span>      Axios.get(api).then((response) =&gt; {
</span></span><span style="display:flex;"><span>        <span style="color:#fff;font-weight:bold">this</span>.list = response.data;
</span></span><span style="display:flex;"><span>        console.log(response.data)
</span></span><span style="display:flex;"><span>      }).<span style="color:#fff;font-weight:bold">catch</span>((error) =&gt; {
</span></span><span style="display:flex;"><span>        console.log(error);
</span></span><span style="display:flex;"><span>      })
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>  mounted () {
</span></span><span style="display:flex;"><span>    <span style="color:#fff;font-weight:bold">this</span>.getData();
</span></span><span style="display:flex;"><span>  },
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f00">/script&gt;</span>
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>&lt;style&gt;
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f00">/style&gt;</span>
</span></span></code></pre></td></tr></table>
</div>
</div>

  </div>

  <footer class="post-footer">
    <ul class="post-tags">
      <li><a href="https://bablvsj.github.io/tags/%E7%AC%94%E8%AE%B0/">笔记</a></li>
    </ul>
<nav class="paginav">
  <a class="prev" href="https://bablvsj.github.io/temp/152/">
    <span class="title">« Prev</span>
    <br>
    <span>出错了，面板运行时发生错误！</span>
  </a>
  <a class="next" href="https://bablvsj.github.io/temp/148/">
    <span class="title">Next »</span>
    <br>
    <span>新闻:2022年7月8日安倍晋三遭枪击</span>
  </a>
</nav>

  </footer>
</article>
    </main>
    
<footer class="footer">
    <span>&copy; 2023 <a href="https://bablvsj.github.io">Bablvsj&#39;s Blog</a></span>
    <span>
        Powered by
        <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
        <a href="https://github.com/adityatelange/hugo-PaperMod/" rel="noopener" target="_blank">PaperMod</a>
    </span>
</footer>
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>

<script>
    let menu = document.getElementById('menu')
    if (menu) {
        menu.scrollLeft = localStorage.getItem("menu-scroll-position");
        menu.onscroll = function () {
            localStorage.setItem("menu-scroll-position", menu.scrollLeft);
        }
    }

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.getAttribute("href").substr(1);
            if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
                    behavior: "smooth"
                });
            } else {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView();
            }
            if (id === "top") {
                history.replaceState(null, null, " ");
            } else {
                history.pushState(null, null, `#${id}`);
            }
        });
    });

</script>
<script>
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };

</script>
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })

</script>
<script>
    document.querySelectorAll('pre > code').forEach((codeblock) => {
        const container = codeblock.parentNode.parentNode;

        const copybutton = document.createElement('button');
        copybutton.classList.add('copy-code');
        copybutton.innerHTML = 'copy';

        function copyingDone() {
            copybutton.innerHTML = 'copied!';
            setTimeout(() => {
                copybutton.innerHTML = 'copy';
            }, 2000);
        }

        copybutton.addEventListener('click', (cb) => {
            if ('clipboard' in navigator) {
                navigator.clipboard.writeText(codeblock.textContent);
                copyingDone();
                return;
            }

            const range = document.createRange();
            range.selectNodeContents(codeblock);
            const selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            try {
                document.execCommand('copy');
                copyingDone();
            } catch (e) { };
            selection.removeRange(range);
        });

        if (container.classList.contains("highlight")) {
            container.appendChild(copybutton);
        } else if (container.parentNode.firstChild == container) {
            
        } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
            
            codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
        } else {
            
            codeblock.parentNode.appendChild(copybutton);
        }
    });
</script>
</body>

</html>
